<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Local">
      <directory>tests</directory>
      <exclude>tests/Drivers</exclude>
      <exclude>tests/LegacyDrivers</exclude>
    </testsuite>
    <testsuite name="Drivers">
      <directory>tests/Drivers</directory>
    </testsuite>
    <testsuite name="SQLite">
      <directory>tests/LegacyDrivers/SQLite</directory>
    </testsuite>
  </testsuites>
</phpunit>
